/* content */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

#amazingcarousel-1{width:100%;max-width:500px;}

ul.amazingcarousel-list {
    background-color: #ffffffd6 !important;
}

#amazingcarousel-1 .amazingcarousel-image {	
	position: relative;
	padding: 0px;
	width: 40%;
	float: left;
	display:none;
}

#amazingcarousel-1 .amazingcarousel-image img {
	display:none;
	width: 100%;
	max-width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

#amazingcarousel-1 .amazingcarousel-text {
	width: 100%;
}


.amazingcarousel-list-wrapper {
    
}

#amazingcarousel-1 blockquote:before {
    font-family: fantasy;
    display: block;
    content: "\201C";
    font-size: 55px;
    position: absolute;
    right: -24px;
    top: -48px;
    color: #b68a35;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

#amazingcarousel-1 blockquote:after {
    font-family: fantasy;
    display: block;
    content: "\201C";
    font-size: 55px;
    position: absolute;
    left: -24px;
    bottom: -40px;
    color: #b68a35;
}




#amazingcarousel-1 cite:before {
	content: "\2014 \2009";
}

/* carousel */

#amazingcarousel-container-1 {
    float: left;
}

#amazingcarousel-1 .amazingcarousel-list-container { 
	padding: 16px 0;
}

/* item */

#amazingcarousel-1 .amazingcarousel-item-container {
    text-align: center;
    padding: 6px;
    /*background-color: #ffffffd6;*/
    border-radius: 5px;
}



/* navigation bullets */

#amazingcarousel-1 .amazingcarousel-nav {
	position: absolute;
	width: 100%;
	top: 100%;
}

#amazingcarousel-1 .amazingcarousel-bullet-wrapper {
	margin: 4px auto;
}

