@charset "utf-8";
/* CSS Document */

@media all and (max-width: 1280px) {
    .dl-menuwrapper button {
        margin: 41px 78px 0 0px !important;
    }

    .logo {
        margin: 20px 10px !important;
        right: 0 !important;
    }

    .sticky .btns {
        margin: 41px 0 0 110px !important;
    }

}

@media all and (max-width: 1024px) {
    .line {
        height: 48% !important;
    }

}

@media all and (max-width: 860px) {
    #amazingcarousel-1 blockquote {
        font-size: 16px !important;
    }

    #header .sky {
        top: -140px !important;
    }

    #header {
        background-size: cover !important;
    }
}

@media all and (max-width: 800px) {
    .line {
        display: none !important;
    }

    .c-morebtn {
        position: relative;
        bottom: -90px;
        margin-top: 90px;
    }
}

@media all and (max-width: 768px) {

    #rotator {
        width: 98% !important;
        max-width: none !important;
        bottom: 0 !important;
        right: 0% !important;
    }

    #amazingcarousel-1 {
        width: 100%;
        max-width: none !important;
    }

    #amazingcarousel-container-1 {
        float: none !important;
    }

    .image {
        width: 120px !important;
        height: 120px !important;
        border-radius: 50%;
        overflow: hidden !important;
        background: #ffffff42 !important;
        padding: 20px 10px 0 !important;
        border: #ccc1b6 2px solid !important;
        bottom: 31vh !important;
        left: 50% !important;
        margin-left: -60px !important;
    }


    .service {
        width: 100% !important;
        margin: 15px 0;
        display: inline-block !important;
    }

    .btns div {
        display: none !important;
    }

    #amazingcarousel-1 .amazingcarousel-prev {
        left: 0% !important;
    }

    #header .sky {
        top: -200px !important;
    }

    .address {
        width: 100% !important;
        float: none !important;

    }

    .map {
        width: 100% !important;
        float: none !important;

    }

    ul#alliconsandtext>.text-left, .text-right, .icon-left, .icon-right {
        width: 100% !important;
        height: 220px !important;
    }

    .icon-holder img {
        height: 100% !important;
        width: auto !important;
    }

    .info {
        max-height: 150px !important;
        overflow: auto;
    }

    .icon-right span, .icon-left span {
        display: block !important;
        position: relative;
        width: 30%;
        margin: 0px auto;
        color: #fff;
        font-size: 18px;
        text-align: center;
        background: #6e4c3e;
        padding: 4px 30px;
        border-radius: 25px;
    }

    .icon-holder {
        height: 100% !important;
    }

    .goalsimg {
        margin: 10px 0px 0 -40px !important;
    }

    .icon-holder img {
        height: 100% !important;
        width: auto !important;
        max-height: 190px;
    }

    .text-holder {
        width: 90% !important;
        margin: 10px auto !important;
    }

}

@media all and (max-width: 650px) {

    .service {
        width: 100% !important;
        margin: 15px 0;
    }

    .logo {
        margin: 23px 0px !important;
        width: 190px !important;
    }

    .text {
        width: 96% !important;
        float: none !important;
        text-align: center !important;
        height: auto !important;
        max-height: 300px !important;
    }

    .pdf {
        max-height: 184px !important;
        line-height: 1.8;
    }

    .down-btn {
        text-align: center !important;
        margin-bottom: 20px;
    }

    .pdfviewer {
        background: rgb(160, 126, 102) !important;
        width: 96% !important;
        float: none !important;
        height: 300px !important;
    }


}

@media all and (max-width: 500px) {
    .dl-menuwrapper {
        width: 56% !important;
    }
}

@media all and (max-width: 480px) {}


@media (max-height: 434px) {
    .image {
        width: 90px !important;
        height: 90px !important;
        bottom: 39vh !important;
        left: 50% !important;
        margin-left: -45px !important;
    }
}

@media all and (max-height: 500px) {
    .dl-menuwrapper li a {
        padding: 10px 20px !important;
        font-size: 14px !important;
        line-height: 16px !important;
    }

    li.menutitle {
        font-size: 16px !important;
    }

    li.menutitle p {
        margin: 10px 0;
    }

    .app, .lang-II {
        margin: 0px 10px 20px 0 !important;
    }

    .app span {
        line-height: 40px !important;
        font-size: 15px !important;
    }

    #rotator {
        bottom: 0vh !important;
    }

    /*.logo {
    margin: 20px 40px !important;
    width: 100px !important;
}*/

    #amazingcarousel-1 blockquote {
        font-size: 15px !important;
        line-height: 1.5;
    }



}