body {
    font-family: "cairo", "Rubik", "Source Sans Pro", "Muli", "Noto Sans",
        -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    direction: rtl;
    letter-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "cairo", "Rubik", "Source Sans Pro", "Muli", "Noto Sans",
        -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #ffffff;
}

body {
    direction: rtl;
    text-align: right;
    min-height: 100vh;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-font-smoothing: "antialiased";
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    direction: rtl;
    text-align: right;
    min-height: 100vh;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-font-smoothing: "antialiased";
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
}

section {
    display: block;
}

section {
    word-break: break-word;
    position: relative;
}

.py-rzt {
    padding-top: 3rem !important;
}

.py-rzt {
    padding-bottom: 3rem !important;
}

body:not(.layout-admin) section {
    background: white !important;
}

*,
:before,
:after {
    box-sizing: border-box;
}

:selection {
    background: #b68a35;
    color: #fff;
}

.container-w8y {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container-w8y {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container-w8y {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container-w8y {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container-w8y {
        max-width: 1200px;
    }
}

.container-w8y {
    position: relative;
}

.row-x6c {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-83z {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .col-83z {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .offset-md-f6v {
        margin-left: 25%;
    }
}

.col-83z {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .offset-md-f6v {
        margin-left: 0;
        margin-right: 25%;
    }
}

.accordion-5w4 {
    overflow-anchor: none;
}

.col-k19:not(.sho-ph8) {
    display: none;
}

h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 2.65625rem;
}

h1,
.xygoj {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.xygoj {
    font-size: 1.85938rem;
}

.mb-pfh {
    margin-bottom: 0.25rem !important;
}

.font-weight-dom {
    font-weight: 700 !important;
}

.text-o8q {
    color: #b28b46 !important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

p {
    color: #1f1f1f;
}

.b-r8w {
    border: 0 !important;
}

.rou-kih {
    border-radius: 0.25rem !important;
}

.p-72h {
    padding: 1rem !important;
}

.shadow-eoy {
    box-shadow: 0 0 25px rgba(140, 152, 164, 0.1) !important;
}

.shadow-eoy {
    transition-property: box-shadow, transform;
    -webkit-animation: __shadowPageLoadFix;
    animation: __shadowPageLoadFix;
    -webkit-animation-duration: 0.01s;
    animation-duration: 0.01s;
}

.mb-os5 {
    margin-bottom: 1rem !important;
}

.label-dav {
    position: relative;
}

.input-3ob {
    position: relative;
}

.text-a3b {
    text-align: left !important;
}

.btn-qhr {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.78rem 1rem;
    font-size: 1.0625rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
        transform 0.25s ease-in-out;
}

.btn-primary-t6n {
    color: #ffffff;
    background: #b28b46;
    border-color: #9c7a3d;
}

.block-426 {
    display: block;
    width: 100%;
}

input {
    text-align: right;
}

button:not(:disabled),
[type="submit"]:not(:disabled) {
    cursor: pointer;
}

.btn-qhr:not(:disabled):not(.disabled) {
    cursor: pointer;
}

input {
    text-align: right;
}

.btn-8b1.btn-primary-t6n:not(:hover):not([aria-expanded="true"]):not(.act-gsg) {
    color: #ffffff;
    background: #bc9b61;
    border-color: #9c7a3d;
}

.btn-qhr:hover {
    color: #212529;
    text-decoration: none;
}

.btn-primary-t6n:hover {
    color: #ffffff;
    background: #bc9b61;
    border-color: #9c7a3d;
}

.btn-primary-t6n:not(.btn-noshadow):hover {
    box-shadow: 0 4px 11px rgba(55, 125, 255, 0.35);
}

.text-oy9 {
    text-align: center !important;
}

.mt--m56 {
    margin-top: 30px !important;
}

h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 2.125rem;
}

h2,
.lgoot {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.lgoot {
    font-size: 1.32812rem;
}

.mb-4qd {
    margin-bottom: 1.5rem !important;
}

.text-j88 {
    text-align: right !important;
}

.bg-odn {
    background-color: #f8f9fa !important;
}

.position-roy {
    position: relative !important;
}

.pt-t94 {
    padding-top: 1rem !important;
}

.cle-c4k:after {
    display: block;
    clear: both;
    content: "";
}

.btn-primary-t6n:not(.btn-noshadow):hover,
.btn-primary-t6n:not(.btn-noshadow):not(.btn-8b1):active {
    box-shadow: 0 4px 11px rgba(55, 125, 255, 0.35);
}

input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input {
    overflow: visible;
}

input {
    outline: none !important;
}

.form-control-k7o {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.56rem + 2px);
    padding: 0.78rem 1rem;
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dde4ea;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fsbsy {
    direction: ltr !important;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.label-dav > .form-control-k7o + label {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.88rem 1rem;
    margin-bottom: 0;
    color: #95a4af;
    pointer-events: none;
    cursor: text;
    transition: all 0.2s ease-in-out;
}

.input-fja {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-fja {
    direction: ltr;
}

a {
    color: #b28b46;
    text-decoration: none;
    background-color: transparent;
}

a {
    outline: none !important;
}

.fs--n1f {
    font-size: 12px !important;
}

a:hover {
    color: unset;
    text-decoration: underline;
}

.block-kof {
    display: block !important;
}

.success-xd5 {
    color: #6dbb30 !important;
}

.text-kkc {
    text-decoration: none !important;
}

a.success-xd5:hover {
    color: #4a7e20 !important;
}

.input-mae {
    position: relative;
    display: inline-block;
    width: 100%;
}

.input-mpr {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.88rem 1rem;
    margin-bottom: 0;
    color: #95a4af;
    pointer-events: none;
    cursor: text;
    padding-top: 3px;
    padding-bottom: 0;
    font-size: 12px;
    transition: all 0.2s ease-in-out;
}

.checkbox-e9k {
    position: relative;
    cursor: pointer;
    line-height: 1.3;
    padding-right: 30px;
    padding-left: 15px;
}

.text-nwd {
    color: #7e8299 !important;
}

.input-f96 {
    display: flex;
}

.input-f96 {
    margin-right: -1px;
}

.input-fja > .form-control-k7o {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
}

.input-fja > .form-control-k7o:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-fja > .form-control-k7o:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-mae * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.input-mae .container-r7c {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 1px;
}

.input-mae.dropdown-x3r .container-r7c {
    right: auto;
    left: 0;
}

.input-mae.dropdown-x3r .container-r7c:hover {
    cursor: pointer;
}

.input-mae input,
.input-mae input[type="tel"] {
    position: relative;
    z-index: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-right: 36px;
    margin-right: 0;
}

.input-mae.dropdown-x3r input,
.input-mae.dropdown-x3r input[type="tel"] {
    padding-right: 6px;
    padding-left: 52px;
    margin-left: 0;
}

.input-mae input {
    position: relative;
    z-index: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-right: 36px;
    margin-right: 0;
}

.input-mae.dropdown-x3r input {
    padding-right: 6px;
    padding-left: 52px;
    margin-left: 0;
}

input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

.checkbox-e9k > input[type="checkbox"] {
    display: none;
}

.checkbox-e9k > i {
    position: absolute;
    display: inline-block;
    border-radius: 3px;
    transition: 0.3s;
    right: 0;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.checkbox-e9k > input[type="checkbox"]:checked + i {
    background: #b28b46;
    border: none;
}

.checkbox-e9k > input[type="checkbox"]:checked + i {
    border: none;
    background: #121212;
}

.checkbox-e9k.checkbox-77x > input[type="checkbox"]:checked + i {
    background: #b28b46;
}

a.checkbox-e9k.act-gsg > i::after,
.checkbox-e9k > input[type="checkbox"]:checked + i::after {
    position: absolute;
    content: "";
    top: 5px;
    width: 12px;
    height: 6px;
    border: 2px solid #fff;
    border-top-style: none;
    border-right-style: none;
    transform: rotate(-45deg);
    right: 4px;
}

.input-fo3 {
    display: flex;
    align-items: center;
    padding: 0.78rem 1rem;
    margin-bottom: 0;
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #dde4ea;
    border-radius: 0.25rem;
}

.input-fja > .input-f96 > .input-fo3 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-mae .select-fkn {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 6px 0 8px;
}

.input-mae.dropdown-x3r .container-r7c:hover .select-fkn {
    background-color: rgba(0, 0, 0, 0.05);
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.hid-rag {
    display: none;
}

.input-mae .hid-rag {
    display: none;
}
