<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>

	<!-- Title -->
	<title>Ombe- Coffee Shop Mobile App Template (Bootstrap + PWA) | DexignZone</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="DexignZone">
	<meta name="robots" content="index, follow">

	<meta name="keywords"
		content="android, ios, mobile, mobile template, mobile app, ui kit, dark layout, app, delivery, ecommerce, material design, mobile, mobile web, order, phonegap, pwa, store, web app, Ombe, coffee app, coffee template, coffee shop, mobile UI, coffee design, app template, responsive design, coffee showcase, style app, trendy app, modern UI, technology, User-Friendly Interface, Coffee Shop App, PWA (Progressive Web App), Mobile Ordering, Coffee Experience, Digital Menu, Innovative Technology, App Development, Coffee Experience, cafe, bootatrap, Bootstrap Framework, UI/UX Design, Coffee Shop Technology, Online Presence, Coffee Shop Website, Cafe Template, Mobile App Design, Web Application, Digital Presence, ">

	<meta name="description"
		content="Discover the perfect blend of design and functionality with Ombe, a Coffee Shop Mobile App Template crafted with Bootstrap and enhanced with Progressive Web App (PWA) capabilities. Elevate your coffee shop's online presence with a seamless, responsive, and feature-rich template. Explore a modern design, user-friendly interface, and PWA technology for an immersive mobile experience. Brew success for your coffee shop effortlessly – Ombe is the ideal template to caffeinate your digital presence.">

	<meta property="og:title" content="Ombe- Coffee Shop Mobile App Template (Bootstrap + PWA) | DexignZone">
	<meta property="og:description"
		content="Discover the perfect blend of design and functionality with Ombe, a Coffee Shop Mobile App Template crafted with Bootstrap and enhanced with Progressive Web App (PWA) capabilities. Elevate your coffee shop's online presence with a seamless, responsive, and feature-rich template. Explore a modern design, user-friendly interface, and PWA technology for an immersive mobile experience. Brew success for your coffee shop effortlessly – Ombe is the ideal template to caffeinate your digital presence.">

	<meta property="og:image" content="https://ombe.dexignzone.com/xhtml/social-image.png">

	<meta name="format-detection" content="telephone=no">

	<meta name="twitter:title" content="Ombe- Coffee Shop Mobile App Template (Bootstrap + PWA) | DexignZone">
	<meta name="twitter:description"
		content="Discover the perfect blend of design and functionality with Ombe, a Coffee Shop Mobile App Template crafted with Bootstrap and enhanced with Progressive Web App (PWA) capabilities. Elevate your coffee shop's online presence with a seamless, responsive, and feature-rich template. Explore a modern design, user-friendly interface, and PWA technology for an immersive mobile experience. Brew success for your coffee shop effortlessly – Ombe is the ideal template to caffeinate your digital presence.">

	<meta name="twitter:image" content="https://ombe.dexignzone.com/xhtml/social-image.png">
	<meta name="twitter:card" content="summary_large_image">

	<!-- Mobile Specific -->
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui, viewport-fit=cover">

	<!-- Favicons Icon -->
	<link rel="shortcut icon" type="image/x-icon" href="assets/images/app-logo/favicon.png">

	<!-- Global CSS -->
	<link rel="stylesheet" href="assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
	<link rel="stylesheet" href="assets/vendor/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css">
	<link rel="stylesheet" href="assets/vendor/nouislider/nouislider.min.css">
	<link rel="stylesheet" href="assets/vendor/swiper/swiper-bundle.min.css">

	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@300;400;500&display=swap"
		rel="stylesheet">

</head>

<body>
	<div class="page-wrapper">

		<!-- Preloader -->
		<div id="preloader">
			<div class="loader">
				<div class="spinner-border text-primary" role="status">
					<span class="visually-hidden">Loading...</span>
				</div>
			</div>
		</div>
		<!-- Preloader end-->

		<!-- Header -->
		<header class="header header-fixed">
			<div class="header-content">
				<!-- <div class="right-content d-flex align-items-center gap-4">
					<a href="javascript:void(0);" class="font-24">
						<i class="font-w700 feather icon-more-vertical-"></i>
					</a>
				</div> -->
				<div class="mid-content">
					<h4 class="title">منتجاتي</h4>
				</div>
				<div class="left-content">
					<a href="{{ route('c1he3f.index') }}" class="back-btn">
						<i class="feather icon-arrow-left"></i>
					</a>
				</div>
			</div>
		</header>
		<!-- Header -->

		<!-- Main Content Start -->
		<main class="page-content space-top">
			<div class="container">
				<!-- Products Area -->
				<div class="dz-custom-swiper">
					<div thumbsSlider="" class="swiper mySwiper dz-tabs-swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<h5 class="title">منتج</h5>
							</div>
							<div class="swiper-slide">
								<h5 class="title">منتج رقمي</h5>
							</div>

						</div>
					</div>
					<div class="swiper mySwiper2 dz-tabs-swiper2">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<ul class="featured-list">
									<li>
										<div class="dz-card list">
											<div class="dz-media">
												<a href="view-product.html"><img
														src="assets/images/products/product5.jpg" alt=""></a>
												<div class="dz-rating" style="background-color: var(--primary);"><i
														class="fa fa-coins"></i> 38</div>
											</div>

											<div class="dz-content">
												<div class="dz-head">
													<h6 class="title"><a href="view-product.html">كشري الاسكندراني</a>
													</h6>
													<ul class="tag-list">
														<li><a href="javascript:void(0);">غداء</a></li>
														<li><a href="javascript:void(0);">عشاء</a></li>
													</ul>
												</div>
												<ul class="dz-meta">
													<li class="dz-price flex-1">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
															viewBox="0 0 24 24" fill="none">
															<path
																d="M8 7V17H12C14.8 17 17 14.8 17 12C17 9.2 14.8 7 12 7H8Z"
																stroke="#17191C" stroke-width="1.5"
																stroke-miterlimit="10" stroke-linecap="round"
																stroke-linejoin="round" />
															<path d="M6.5 11H18.5" stroke="#17191C" stroke-width="1.5"
																stroke-miterlimit="10" stroke-linecap="round"
																stroke-linejoin="round" />
															<path d="M6.5 13H12.5H18.5" stroke="#17191C"
																stroke-width="1.5" stroke-miterlimit="10"
																stroke-linecap="round" stroke-linejoin="round" />
														</svg>
														30.00
													</li>
													<li>
														<a href="edit-product.html" class="btn rounded-xl dz-buy-btn">
															<i class="fa-regular fa-pen-to-square"></i>
															تعديل
														</a>
													</li>
												</ul>
											</div>
										</div>
									</li>
									<li>
										<div class="dz-card list">
											<div class="dz-media">
												<a href="view-product.html"><img
														src="assets/images/products/product5.jpg" alt=""></a>
												<div class="dz-rating" style="background-color: var(--primary);"><i
														class="fa fa-coins"></i> 38</div>
											</div>
											<div class="dz-content">
												<div class="dz-head">
													<h6 class="title"><a href="view-product.html">كشري الاسكندراني</a>
													</h6>
													<ul class="tag-list">
														<li><a href="javascript:void(0);">غداء</a></li>
														<li><a href="javascript:void(0);">عشاء</a></li>
													</ul>
												</div>
												<ul class="dz-meta">
													<li class="dz-price flex-1"><svg xmlns="http://www.w3.org/2000/svg"
															width="24" height="24" viewBox="0 0 24 24" fill="none">
															<path
																d="M8 7V17H12C14.8 17 17 14.8 17 12C17 9.2 14.8 7 12 7H8Z"
																stroke="#17191C" stroke-width="1.5"
																stroke-miterlimit="10" stroke-linecap="round"
																stroke-linejoin="round" />
															<path d="M6.5 11H18.5" stroke="#17191C" stroke-width="1.5"
																stroke-miterlimit="10" stroke-linecap="round"
																stroke-linejoin="round" />
															<path d="M6.5 13H12.5H18.5" stroke="#17191C"
																stroke-width="1.5" stroke-miterlimit="10"
																stroke-linecap="round" stroke-linejoin="round" />
														</svg>12.6</li>
													<li>
														<a href="edit-product.html" class="btn rounded-xl dz-buy-btn">
															<i class="fa-regular fa-pen-to-square"></i>
															تعديل
														</a>
													</li>
												</ul>
											</div>
										</div>
									</li>
									<li>
										<div class="dz-card list">
											<div class="dz-media">
												<a href="view-product.html"><img
														src="assets/images/products/product5.jpg" alt=""></a>
												<div class="dz-rating" style="background-color: var(--primary);"><i
														class="fa fa-coins"></i> 38</div>
											</div>
											<div class="dz-content">
												<div class="dz-head">
													<h6 class="title"><a href="view-product.html">كشري الاسكندراني</a>
													</h6>
													<ul class="tag-list">
														<li><a href="javascript:void(0);">غداء</a></li>
														<li><a href="javascript:void(0);">عشاء</a></li>
														<li style="display: block;"><a href="javascript:void(0);">الطاهي
																/ عمر أسامة</a></li>
													</ul>
												</div>
												<ul class="dz-meta">
													<li class="dz-price flex-1">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
															viewBox="0 0 24 24" fill="none">
															<path
																d="M8 7V17H12C14.8 17 17 14.8 17 12C17 9.2 14.8 7 12 7H8Z"
																stroke="#17191C" stroke-width="1.5"
																stroke-miterlimit="10" stroke-linecap="round"
																stroke-linejoin="round" />
															<path d="M6.5 11H18.5" stroke="#17191C" stroke-width="1.5"
																stroke-miterlimit="10" stroke-linecap="round"
																stroke-linejoin="round" />
															<path d="M6.5 13H12.5H18.5" stroke="#17191C"
																stroke-width="1.5" stroke-miterlimit="10"
																stroke-linecap="round" stroke-linejoin="round" />
														</svg>12.6
													</li>
													<li>
														<a href="edit-product.html" class="btn rounded-xl dz-buy-btn">
															<i class="fa-regular fa-pen-to-square"></i>
															تعديل
														</a>
													</li>
												</ul>
											</div>
										</div>
									</li>

								</ul>
							</div>
							<div class="swiper-slide">
								<ul class="featured-list">
									<li>
										<div class="dz-card list">
											<div class="dz-media">
												<a href="view-product.html"><img src="assets/images/products/product5.jpg" alt=""></a>
												<div class="dz-rating" style="background-color: var(--primary);"><i class="fa fa-coins"></i> 38
												</div>
											</div>
							
											<div class="dz-content">
												<div class="dz-head">
													<h6 class="title"><a href="view-product.html">كشري الاسكندراني</a>
													</h6>
													<ul class="tag-list">
														<li><a href="javascript:void(0);">غداء</a></li>
														<li><a href="javascript:void(0);">عشاء</a></li>
													</ul>
												</div>
												<ul class="dz-meta">
													<li class="dz-price flex-1">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
															fill="none">
															<path d="M8 7V17H12C14.8 17 17 14.8 17 12C17 9.2 14.8 7 12 7H8Z" stroke="#17191C"
																stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
																stroke-linejoin="round" />
															<path d="M6.5 11H18.5" stroke="#17191C" stroke-width="1.5" stroke-miterlimit="10"
																stroke-linecap="round" stroke-linejoin="round" />
															<path d="M6.5 13H12.5H18.5" stroke="#17191C" stroke-width="1.5" stroke-miterlimit="10"
																stroke-linecap="round" stroke-linejoin="round" />
														</svg>
														30.00
													</li>
													<li>
														<a href="edit-product.html" class="btn rounded-xl dz-buy-btn">
															<i class="fa-regular fa-pen-to-square"></i>
															تعديل
														</a>
													</li>
												</ul>
											</div>
										</div>
									</li>
									<li>
										<div class="dz-card list">
											<div class="dz-media">
												<a href="view-product.html"><img src="assets/images/products/product5.jpg" alt=""></a>
												<div class="dz-rating" style="background-color: var(--primary);"><i class="fa fa-coins"></i> 38
												</div>
											</div>
											<div class="dz-content">
												<div class="dz-head">
													<h6 class="title"><a href="view-product.html">كشري الاسكندراني</a>
													</h6>
													<ul class="tag-list">
														<li><a href="javascript:void(0);">غداء</a></li>
														<li><a href="javascript:void(0);">عشاء</a></li>
													</ul>
												</div>
												<ul class="dz-meta">
													<li class="dz-price flex-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
															viewBox="0 0 24 24" fill="none">
															<path d="M8 7V17H12C14.8 17 17 14.8 17 12C17 9.2 14.8 7 12 7H8Z" stroke="#17191C"
																stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
																stroke-linejoin="round" />
															<path d="M6.5 11H18.5" stroke="#17191C" stroke-width="1.5" stroke-miterlimit="10"
																stroke-linecap="round" stroke-linejoin="round" />
															<path d="M6.5 13H12.5H18.5" stroke="#17191C" stroke-width="1.5" stroke-miterlimit="10"
																stroke-linecap="round" stroke-linejoin="round" />
														</svg>12.6</li>
													<li>
														<a href="edit-product.html" class="btn rounded-xl dz-buy-btn">
															<i class="fa-regular fa-pen-to-square"></i>
															تعديل
														</a>
													</li>
												</ul>
											</div>
										</div>
									</li>
									<li>
										<div class="dz-card list">
											<div class="dz-media">
												<a href="view-product.html"><img src="assets/images/products/product5.jpg" alt=""></a>
												<div class="dz-rating" style="background-color: var(--primary);"><i class="fa fa-coins"></i> 38
												</div>
											</div>
											<div class="dz-content">
												<div class="dz-head">
													<h6 class="title"><a href="view-product.html">كشري الاسكندراني</a>
													</h6>
													<ul class="tag-list">
														<li><a href="javascript:void(0);">غداء</a></li>
														<li><a href="javascript:void(0);">عشاء</a></li>
														<li style="display: block;"><a href="javascript:void(0);">الطاهي
																/ عمر أسامة</a></li>
													</ul>
												</div>
												<ul class="dz-meta">
													<li class="dz-price flex-1">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
															fill="none">
															<path d="M8 7V17H12C14.8 17 17 14.8 17 12C17 9.2 14.8 7 12 7H8Z" stroke="#17191C"
																stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
																stroke-linejoin="round" />
															<path d="M6.5 11H18.5" stroke="#17191C" stroke-width="1.5" stroke-miterlimit="10"
																stroke-linecap="round" stroke-linejoin="round" />
															<path d="M6.5 13H12.5H18.5" stroke="#17191C" stroke-width="1.5" stroke-miterlimit="10"
																stroke-linecap="round" stroke-linejoin="round" />
														</svg>12.6
													</li>
													<li>
														<a href="edit-product.html" class="btn rounded-xl dz-buy-btn">
															<i class="fa-regular fa-pen-to-square"></i>
															تعديل
														</a>
													</li>
												</ul>
											</div>
										</div>
									</li>
							
								</ul>
							</div>

						</div>
					</div>
				</div>
				<!-- Products Area -->
				<a href="add-products.html" style="position: fixed; bottom: 30px; left: 20px; z-index: 99999; ">
					<svg fill="#000" xmlns="http://www.w3.org/2000/svg" style="width: 25px;" viewBox="0 0 448 512">
						<path
							d="M64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-320c0-35.3-28.7-64-64-64L64 32zM200 344l0-64-64 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l64 0 0-64c0-13.3 10.7-24 24-24s24 10.7 24 24l0 64 64 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-64 0 0 64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" />
					</svg>
				</a>
			</div>
		</main>
		<!-- Main Content End -->
	</div>
	<!--**********************************
    Scripts
***********************************-->
	<script src="assets/js/jquery.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets/vendor/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
	<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
	<script src="assets/vendor/wnumb/wNumb.js"></script><!-- WNUMB -->
	<script src="assets/vendor/nouislider/nouislider.min.js"></script><!-- NOUSLIDER MIN JS-->
	<script src="assets/js/noui-slider.init.js"></script><!-- NOUSLIDER MIN JS-->
	<script src="assets/js/dz.carousel.js"></script>
	<script src="assets/js/settings.js"></script>
	<script src="assets/js/custom.js"></script>
</body>

</html>